@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family:  'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.navbar-nav .dropdown:hover .dropdown-menu {
    display: block;
    
}
.nav-link{
    color: #575757;
    font-weight: bold;
    margin-right: 20px;
}
.ml-30{
    margin-left: 92px;
}
.dropdown-item:hover{
    background-color: #e7e7e7;
}
/* css for header of navbar*/
.logo{
    margin-left: 100px;
}
  .search-container {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 100px;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .input-container {
    display: flex;
    align-items: center;
    position: relative;
}

.search-input {
    padding-right: 30px; 
}

.search-icon {
    position: absolute;
    right: 10px; /* Adjust this value to move the icon further from the right edge */
    color: #575757; /* Adjust the color as needed */
    pointer-events: none; /* Prevent clicks on the icon from triggering the input */
}
.cart-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #575757;
    padding: 8px 12px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .cart-icon:hover {
    background-color: #e0e0e0;
  }
  
  .cart-icon .fas {
    font-size: 18px;
  } 

.main-1-yg{
  background:url('./assets/images/yoga-girl.jpg');
  background-size:cover;
  height: 450px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 20px;
}
.main-2{
  display: flex;
  height: 700px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 20px;
}
.middle-col{
  background-color: rgb(255,221,22);
  height: 300px;
  
}
.right-col{
  background-color: rgb(255,221,22);
  height: 300px;
  width: 300px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  line-height: 1.7;
  cursor: pointer;
}
.spar{
  font-size: 16px;
}
.right-col a{
  text-decoration: none;
  color: #333333;
  font-size: 16px;
}
.right-col span{
  font-size: 28px;
  color: #333333;
}
.right-col p{
  font-size: 20px;
  color: #333333;
}
.down-col{
  height: 400px;
  width: 400px;
  background-color: blue;
}
.row{
  width: 40%;
  float: right;
  margin-top: 40px;
  margin-right: 40px;
}
.ybtn{
  height: 45px;
  width: 150px;
  background: #1979c3;
  border: 1px solid #1979c3;
  cursor: pointer;
  font-weight: 500;
  border-radius: 3px;
  text-decoration: none;
}
 .image-sec{
  margin-top: 20px;
  height: 700px;
  width: auto;
  /* background-color: #24e858; */
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  flex-direction: row;
  
 }
 .left-sec{
  height: 700px;
  width: 400px;
  /* background-color: #1979c3; */
 }
 .right-sec{
  height: 700px;
  width: 830px;
  margin-left: 20px;
  /* background-color: #003f6f; */
  display: flex;
  flex-direction: column;
 }
 .top-sec{
  height: 300px;
  width: 830px;
  display: flex;
  flex-direction: row;
  
  margin-bottom: 10px;
 }
 .top-left{
  background-size: cover;
  height: 300px;
  width: 60%;
  background-color: #FFDD16;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 .top-right{
  height: 300px;
  width: 40%;
  background-color: #FFDD16;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 30px;
 }
 .bottom-sec{
  background: url("./assets/images/bottom.jpg");
  background-size: cover;
  height: 380px;
  width: 830px;
  margin-top: 10px;
 }
 .bottom-info{
  height: 250px;
  width: 600px;
  float: right;
  margin-top: 80px;
  margin-right: 50px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 30px;
 }
 

 .Main-content-header{
  height: 100px;
  width: auto;
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }

 .Main-Content{
  height: auto;
  width: auto;
  /* border: 1px solid black; */
  padding: 30px;
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  justify-content: space-evenly;
 }



.box .mall{
   
    margin: 10px 0px 15px 10px;
    font-size: 14px;
    color: #333;
    font-weight: 400;
    text-decoration: none;
}
.box .mall:hover{
    text-decoration: underline;
}
.box {
    height: 520px;
    width: 250px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}
.box-img{
    height: 250px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box .last{
    margin: 0px 0px 5px 10px;
}
.box .last p{
    font-size: 12px;
}
.box .last p span{
    font-size: 17px;
}
.box .icon{
    margin-left: 10px;
    margin-bottom:10px;
}
.icon-yellow{
    color:#faca51;
}
.icon span{
 color: #1979c3;
 font-size: 10px;
}
.icon span:hover{
    text-decoration: underline;
   }
.box:hover{
    box-shadow: 0px 0px 15px rgb(152, 152, 152);
}
.box .size{
    align-items: center;
    margin:15px 0px 10px 0px;
}
.box .size .s{
    display:inline-block;
    justify-content: center;
    padding-top:5.5px;
    color: #949494;
    background-color: #f0f0f0;
    text-align: center;
    font-size: 12px;
    height: 25px;
    width: 35px;
    cursor: pointer;
    margin-left: 10px;
    font-weight:bold;
}
.box .size .s:hover{
    background-color: #fff;
    color: #000;
    box-shadow:1px 1px 3px rgb(158, 158, 158);
    transition: 0.5s;
}
.box .colour .s{
    display:inline-block;
    justify-content: center;
    padding-top:5.5px;
    color: #949494;
    background-color: #f0f0f0;
    text-align: center;
    font-size: 12px;
    height: 25px;
    width: 35px;
    cursor: pointer;
    margin-left: 10px;
    font-weight:bold;
}
.box .colour .s:hover{
 border: 1.5px solid red;
 border-radius: 2px;
}
.atc-button{
height: 35px;
padding: 5px;
margin: 10px 0px 10px 10px;
background-color: #1979c3;
color: #fff;
border-radius: 3px;
text-decoration:none;
border: none;
}